<h2 align="center">All books in DB</h2>
<div id="container">
  <%=image_tag("book.png", height: '135', width: '105', align:'left')%><br>
  <div id="shwbox" style="width: 20em; margin-left:8em;margin-right: 10em;background-color: #87CEEB; " >
    <table border="1" cellspacing="5" cellpadding="5" bgcolor="#87CEEB">
      <tr>
        <th>Access No</th>
        <th>Title</th>
        <th>Edition</th>
        <th>Publisher</th>
      </tr>
      <% Book.find_each do |b| %>
          <tr>
            <td><%= b.access_no %></td>
            <td><%= b.title %></td>
            <td><%= b.edition %></td>
            <td><%= b.publisher %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<br><br>
<a href="/">Back</a>
